<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Belfast Restaurant</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1 class="title">Belfast Restaurant</h1>
      <input class="hamburger-btn" type="checkbox" id="hamburger-btn" />
      <label class="hamburger-icon" for="hamburger-btn"
        ><span class="navicon"></span
      ></label>
      <ul class="navigation">
        <li><a href="http://localhost:8080/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="https://github.com/HendP" target="_blank">About Us</a></li>
      </ul>
    </header>
    <div class="hero-image">
      <div class="hero-text">
        <p class="tagline1">Good food and great vibes</p>
        <p class="tagline2">So the only thing we're serious about is food</p>
      </div>
    </div>
  </body>
</html>
