<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Belfast Restaurant</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="#" class="title">Belfast Restaurant</a>

      <ul class="navigation" id="navigation-menu">
        <li>
          <a href="http://localhost:8080/" class="navigation-links">Home</a>
        </li>
        <li><a href="#" class="navigation-links">Favorite</a></li>
        <li>
          <a
            href="https://github.com/HendP"
            class="navigation-links"
            target="_blank"
            >About Us</a
          >
        </li>
      </ul>

      <span class="navigation-toggle" id="navigation-toggle-menu">
        ☰
      </span>

    </header>
    <div class="hero-image">
      <div class="hero-text">
        <h1 class="hero-title">Good food and great vibes</h1>
        <p class="hero-tagline">So the only thing we're serious about is food</p>
      </div>
    </div>
  </body>
</html>
