* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Skip to Content */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #f73859;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/* header */

header {
  background-color: #f73859;
  width: 100%;
  height: 80px;
  position: fixed;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 4;
}

.navigation {
  list-style-type: none;
  display: none;
}

.navigation-links {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
}

.navigation-links:hover {
  font-weight: bold;
}

.navigation li {
  font-size: 18px;
  text-align: center;
  padding: 10px 10px;
  background-color: #e72b4a;
}

.title {
  font-size: 32px;
  height: 45px;
  font-weight: bold;
  display: inline-block;
  color: white;
  margin-top: 15px;
  margin-left: 20px;
  text-decoration: none;
}

.navigation-toggle {
  background: none;
  border: none;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  text-decoration: none;
}

/* show/hide navigation */
.active {
  display: block;
}

/* Hero Image */
.hero-image {
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/heros/hero-image_2.jpg");
  width: 100%;
  min-height: 420px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}

.hero-text {
  margin: 0 auto;
  max-width: 800px;
  color: white;
}

.hero-title {
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
}

.hero-tagline {
  font-size: 24px;
}

/* Main Content */

main {
  width: 100%;
  margin-top: 50px;
}

.catalogs-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

/* catalog-image holding the image and the text */
.catalog-image {
  position: relative;
  text-align: center;
  color: white;
}

img {
  height: auto;
  width: 100%;
  vertical-align: middle;
}

/* Top left text for City text */
.top-left {
  position: absolute;
  background-color: #f73859;
  top: 20px;
  left: 0;
  width: 100px;
  height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.top-left-under {
  position: absolute;
  background-color: #f73859;
  top: 60px;
  left: 0;
  width: 100px;
  height: 30px;
  font-size: 18px;
  font-weight: 600;
}

/* Catalog */

.catalogs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-rating {
  color: white;
  font-weight: 500;
}

.catalog-item {
  display: flex;
  padding: 1rem;
}

.catalog-warning {
  margin: 0 auto;
}

.catalog-warning-text a {
  text-decoration: none;
  color: #f73859;
}

.catalog {
  border-radius: 0.25rem;
  box-shadow: 0 5px 1px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.catalog-content {
  padding: 1rem;
}

.catalog-title {
  color: #333;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.catalog-text {
  color: #333;
  text-align: justify;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

/* Footer */

footer {
  background-color: #f73859;
  margin-top: 1rem;
  padding: 16px;
  width: 100%;
  text-align: center;
}

footer h4 {
  color: white;
  font-weight: 500;
  margin: 0 auto;
  display: inline-block;
}

/* Button Back to Top */
#go-to-top {
  display: none;
  background-color: #f73859;
  color: white;
  padding: 15px;
  position: fixed;
  border-radius: 0.25rem;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

#go-to-top:hover {
  background-color: white;
  color: #f73859;
  border: 1px solid #f73859;
}
